sphinx<=8.2
sphinx_rtd_theme==3.0.2
nbsphinx==0.9.7
sphinxcontrib-bibtex==2.6.5
jupyter==1.1.1
setuptools<=81
standard-imghdr
# note: pandoc must be installed on the system: https://pandoc.org/installing.html
# on ubuntu: sudo apt install pandoc
